flask>=1.3.0
dotenv>=0.0.5
flask_cors>=5.0.1
flask_session>=0.4.0
flask_sqlalchemy>=2.5.0
confz>=2.1.0
pylint>=3.0.0
mypy>=1.0.0
psycopg2-binary>=2.9.10
flasgger>=0.9.7.1
requests>=2.32.3
pytest_postgresql>=7.0.0
pylint>=3.3.6
flask_restx>=1.3.0
python-dotenv~=1.1.0
flask-cors~=5.0.1
flask-restx~=1.3.0
SQLAlchemy~=2.0.39
pytest~=8.3.5
pytest-postgresql~=7.0.1
pillow~=11.1.0